* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: cursive;
}

body {
    background-repeat: repeat;
    background-size: auto;
    background-attachment: inherit;
    background-size: 200px 430px;
}

header {
    display: flexbox;
    background-color: rgb(1, 97, 123);
    position: sticky;
    top: 0px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu1 {
    justify-content: left;
    padding: 0px;
}

.menu1 img {
    height: 55px;
    width: 55px;
    display: flex;
}

.menu2 {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 23px;
}

.menu2 li {
    padding: 0px 15px;
}

.menu2 a {
    text-decoration: none;
    color: white;
}
h1 {
    font-size: 70px;
    text-align: center;
    color: black;
}

h3 {
    font-size: 40px;
    text-align: center;
    color: black;
}
h2 {
    font-size: 30px;
    padding: 5px 150px;
    text-align: center;
    color: black;
}

.texto {
    text-align: center;
    font-size: 130%;
    color: rgb(0, 0, 0);
}
.texto h3{
        font-size: 40px;
        text-align: center;
        color: black;
}
.texto h4 {
    font-size: 25px;
    text-align: center;
    color: black;
}

/* CUADROS TRATAMIENTOS */
.cuadro {
    background-color: rgb(16, 215, 66);
    height: 125%;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.307) 0px 0px 25px 15px;
    padding: 10px 50px;
    border-radius: 100px;
    flex-wrap: wrap;
}
/* ALINEACION CUADROS TRATAMIENTOS */
.derecha {
    margin-top: 40px;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
}

.centro {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.izquierda {
    margin-top: 40px;
    margin-left: 2%;
    display: flex;
    justify-content: initial;

}
/* FORMS CUADRO*/
fieldset{
    border-radius: 20px;
}
/* FORMS INPUTS*/
.inputs {
    margin: 15px 0px;
}

.input {
    background-color: blanchedalmond;
    width: 100%;
    font-size: 15px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
}

textarea {
    background-color: blanchedalmond;
    width: 100%;
    font-size: 15px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    resize: none;
}
/* FORMS BOTON*/
.submit {
    background-color: rgb(255, 122, 60);
    height: 30px;
    width: 290px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 25px;
    border-width: 2px 2px 2px 2px;
}
/* FORMS ERRORES SPAN*/
span {
    display: none;
    color: red;
}