* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: cursive;
}

/* IMAGEN DE FONDO */
body {
    background-repeat: repeat;
    background-size: auto;
    background-attachment: inherit;
    background-size: 200px 430px;
}

/* HEDEAR DE PAG */
header {
    display: flexbox;
    background-color: rgb(1, 97, 123);
    position: sticky;
    top: 0px;
}

/* CONF MENU DEL HEADER */
.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

/* IMAGEN DEL HEADER */
.menu1 {
    justify-content: left;
    padding: 0px;
}

.menu1 img {
    height: 55px;
    width: 55px;
    display: flex;
}

/* MENU INTERANCTIVO DEL HEADER */
.menu2 {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 23px;
}
.menu2 a:hover {
    color: rgb(11, 20, 73);
}

.menu2 li {
    padding: 0px 12px;
}

.menu2 a {
    text-decoration: none;
    color: white;
}

/* H1 */
h1 {
    font-size: 140px;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 1.0);    
}

/* CARRUSEL */
#contenedor-carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#anterior{
    margin: 0px 50px;
}
#siguiente{
    margin: 0px 50px;
}

.Carrusel {
    display: inline-block;    
    border: 9px solid rgb(1, 97, 123);   
    height: 400px;
    width: 700px;
    border-radius: 40px;
     
}
button {
    background-color: black;
    color: #f8f6f6;
    border: 3px solid rgb(1, 97, 123);
    border-radius: 150%;
    font-size: 30px;
    padding: 10px;
}


/* DIV PARA CENTRAR CUADROS */
.centro {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/* CUADRO QUIENES SOMOS */
.cuadroQ {
    background-color: rgb(85, 149, 167);
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.621) 0px 0px 25px 5px;
    border-radius: 150px;
    flex-wrap: wrap;
    margin: 30px 0px;
}

/* TEXTO QUIENES SOMOS */
.textoQ h2 {
    text-align: center;
    font-size: 77px;
    padding: 5px 75px 5px 25px;
}

.textoQ p {
    margin: 10px 30px;
    font-size: 24px;
    text-align: center;
    padding: 0px 30px 5px 30px;
}


/* CUADRO VETERINARIA */
.cuadroV {
    background-color: rgb(50, 163, 228);
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.621) 0px 0px 25px 5px;
    border-radius: 150px;
    flex-wrap: wrap;
    margin: 25px 0px;
}

/* IMAGEN VETERINARIA */
.veterinaria {
    float: right;
    border-radius: 150px;
    padding: 35px 25px 35px 30px;
    width: 45%;
}

/* TEXTO VETERINARIA */
.textoV h2 {
    text-align: center;
    font-size: 77px;
    padding: 35px 75px 0px 25px;
}

.textoV p {
    margin: 10px 30px;
    font-size: 24px;
    text-align: center;
    padding: 0px 30px 0px 30px;
}
.textoV p a {    
    color: blue;    
}

/* CUADRO ADOPCION */
.cuadroA {
    background-color: rgb(50, 163, 228);
    height: 125%;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.621) 0px 0px 25px 5px;
    padding: 10px 50px 10px 30px;
    border-radius: 200px;
    flex-wrap: wrap;
    margin: 25px 0px;
}

/* IMAGEN ADOPCION */
.adopcion {
    float: left;
    margin: 15px 0px;
    border-radius: 180px;
    padding: 0px 25px 0px 0px;
    height: 50%;
    width: 50%;
}

/* TEXTO ADOPCION */
.textoA h2 {
    text-align: center;
    font-size: 77px;
    padding: 25px 75px 0px 25px;
}

.textoA p {
    margin: 10px 30px;
    font-size: 24px;
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.textoA p a {    
    color: blue;    
}

/* PIE DE PAGINA */
footer {
    background-color: rgb(11, 20, 73);
    padding: 15px 0px;
    margin-top: 50px;
}

.container {
    max-width: 100%;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

/* DIV PIE DE PAGINA */
.contac {
    width: 30%;
    padding: 0px 15px;
    margin: 2px 0;
}

/* TEXTO PIE DE PAGINA */
.contac h5 {
    font-size: 21px;
    margin-bottom: 5px;
    font-weight: bold;

    color: white;
    padding-bottom: 10px;
    text-align: center;

}

.contac p {
    font-size: 15px;
    color: grey;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
    text-align: center;
}

.contac p:hover {
    color: white;
}

/* INSTA FACEBOOK (IMG) DE PAGINA */
.contac img {
    display: inline-block;
    line-height: 40px;
    height: 55px;
    width: 55px;
    transition: all .2s ease;
}

.img1 {
    margin: 0px 10px 0px 150px;
}

.img2 {
    margin: 0px 70px 0px 10px;
}

.contac img:hover {
    background-color: grey;
    border-radius: 50px;
}